@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;

  line-height: 1.6;
  color: #000;
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
}

th,
td {
  border: 1px solid #444;
  padding: 8px 12px;
  text-align: center;
  vertical-align: middle;
}

th {
  background: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f1f1f1;
}

.section-title {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

span, p, li, strong, h1, h3, h2, h5, h6 {
  color: #000;
}